h2{
    padding-top: 10rem; 
    margin-top: -40px;
}

.navbar{
    padding: 1rem 5rem;
    border-bottom: solid 1px #dbdbdb;
    margin-bottom: 5rem;
}

.content{
    margin: 9rem;
    padding: 3rem 1.5rem;
}

a.id {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

@media screen and (max-width: 1088px){
    .navbar, .navbar-menu, .navbar-start, .navbar-end {
        align-items: stretch;
        display: flex;
    }
}

@media screen and (max-width: 900px) {
    .content{
        margin: 3rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .navbar, .navbar-menu, .navbar-start, .navbar-end{
        display: block
    }
}

@media screen and (max-width: 350px) {
    .navbar, .navbar-menu, .navbar-start, .navbar-end{
        display: block;
    }
    .content{
        margin: 1rem;
    }
}
div.blur.nonblur {
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
}
div.blur {
    -webkit-filter: blur(20px); /* Safari 6.0 - 9.0 */
    filter: blur(20px);
}

/* Print Handout */
@media print{
    h2#aufgabe1{
        padding-top: 1rem; 
        margin-top: -4px;
        page-break-before: always;
    }

    h2#aufgabe2{
        padding-top: 2rem;
    }
    
    h2#links{
        padding-top: 1rem; 
        margin-top: -4px;
        page-break-before: always;
    }    

    div#link{
        display: none;
    }
    
    h2#lit{
        padding-top: 1rem; 
        margin-top: -4px;
        page-break-before: always;
    }

    .hr, .navbar{
        display: none;
    }
    
    .content{
        margin: 1rem;
        padding: 1rem 1.5rem;
    }
    
    div.blur.nonblur {
        -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
        filter: blur(0px);
        width: 90%;

    }
    div.blur {
        -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
        filter: blur(0px);
        width: 90%;

    }

}