.navbar{
    padding: 1rem 5rem;
    border-bottom: solid 1px #dbdbdb;
    margin-bottom: 5rem;
}

.content{
    margin: 9rem;
    padding: 3rem 1.5rem;
}

a.id {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

@media screen and (max-width: 900px) {
    .navbar.is-fixed-top {
        position: absolute;
    }
}

@media screen and (max-width: 350px) {
    .navbar.is-fixed-top {
        position: absolute;
    }
}
div.blur.nonblur {
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
}
div.blur {
    -webkit-filter: blur(20px); /* Safari 6.0 - 9.0 */
    filter: blur(20px);
}
